/*
Theme Name: PR Pin
Theme URI: http://www.premiumresponsive.com/pr-pin-wordpress-theme/
Author: Algimantas Kilius
Author URI: http://www.premiumresponsive.com/
Description: Theme designed with the popular Bootstrap 3 CSS Framework, and using Font Awesome for the lightweight usage of icons.  PR Pin is a powerful responsive and multi-purpose WordPress theme, perfect for news or magazine, blog website and many more. Your site can be displayed on every device (PC, laptop, mobile devices, tablets etc). PR Pin has a solid flexible responsive layout that scales from 320px to 1260px with all Bootstrap features. The flexible and widgetized layout lets you easily adapt the theme for your needs. You can display articles, photos, your portfolio in many different ways. Easy customise as there are many interesting features available in the theme options page.
Version: 1.8
License: GNU General Public License, version 3 (GPL-3.0)
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: responsive-layout, fluid-layout, full-width-template, post-formats, two-columns, three-columns, white, black, dark, light, featured-images, custom-background, custom-colors, custom-menu,   theme-options, threaded-comments, sticky-post, left-sidebar, right-sidebar,translation-ready
*/

 /* =WordPress Core  */
.alignnone {
margin : 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
display : block;
margin : 5px auto 5px auto;
}
.alignright {
float : right;
margin : 5px 0 20px 20px;
}
.alignleft {
float : left;
margin : 5px 20px 20px 0;
}
a img.alignright {
float : right;
margin : 5px 0 20px 20px;
}
a img.alignnone {
margin : 5px 20px 20px 0;
}
a img.alignleft {
float : left;
margin : 5px 20px 20px 0;
}
a img.aligncenter {
display : block;
margin-left : auto;
margin-right : auto;
}
.wp-caption {
background : #fff;
border : #f0f0f0 solid 1px;
max-width : 96%;
padding : 5px 3px 10px;
text-align : center;
}
.wp-caption.alignnone {
margin : 5px 20px 20px 0;
}
.wp-caption.alignleft {
margin : 5px 20px 20px 0;
}
.wp-caption.alignright {
margin : 5px 0 20px 20px;
}
.wp-caption img {
border : none 0;
height : auto;
margin : 0;
max-width : 98.5%;
padding : 0;
width : auto;
}
.wp-caption p.wp-caption-text {
font-size : 11px;
line-height : 17px;
margin : 0;
padding : 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
clip : rect(1px,1px,1px,1px);
position : absolute !important ;
height : 1px;
width : 1px;
overflow : hidden;
}
.screen-reader-text:focus {
background-color : #f1f1f1;
border-radius : 3px;
box-shadow : 0 0 2px 2px rgba(0, 0, 0, 0.6);
clip : auto !important ;
color : #21759b;
display : block;
font-size : 14px;
font-size : 0.875rem;
font-weight : bold;
height : auto;
left : 5px;
line-height : normal;
padding : 15px 23px 14px;
text-decoration : none;
top : 5px;
width : auto;
z-index : 100000;
}
 /* END WordPress Core  */
body {
margin : 0 auto;
padding-bottom : 15px;
background : #f2f2f2;
overflow-wrap : break-word;
font-size : 14px;
}
a {
color : #1982d1;
text-decoration : none;
}
a:focus, a:active, a:hover {
text-decoration : underline;
}
.social {
color : #fff;
margin-top : 15px;
width : 2em;
height : 2em;
}
.social:hover {
border-radius : 1em;
color : #fff;
text-decoration : none;
}
.social i {
margin-left : 8px;
}
#masonry {
margin : 0 auto;
}
#masonry .boxy {
max-width : 480px;
}
#masonry .boxy img {
width : 100%;
}
.content {
margin : 0 -10px 10px -10px;
}
.content .posttitle {
line-height : 1.3em;
margin : 6px 0;
text-align : center;
font-weight : bold;
}
.content p {
text-align : justify;
font-size : 14px;
}
.category-tag {
border-top : 1px solid #f5f5f5;
clear : both;
color : #888;
font-size : 0.9em;
line-height : 1.3em;
padding : 5px 0;
}
.category-tag a {
color : #a1a1a1;
font-style : italic;
}
.category-tag a:hover {
color : #45b0e3;
}
.sticky {
color : #000;
font-size : 16px;
}
#infscr-loading {
background : #000;
color : #fff;
bottom : 0;
right : 48%;
opacity : 0.5;
padding : 5px;
position : fixed;
text-align : center;
z-index : 100;
}
.post-wrapper {
background : #fff;
border : #e5e5e5 solid 1px;
margin-bottom : 50px;
box-shadow : 0 1px 3px rgba(0, 0, 0, 0.08);
}
.post-wrapper .h1-wrapper {
border-bottom : 1px solid #eee;
}
.post-wrapper .h1-wrapper h1 {
font-size : 1.5em;
line-height : 1.3em;
margin : 10px 25px;
text-align : center;
}
.post-wrapper .post-featured-photo {
background : #f2f2f2;
margin : 25px;
text-align : center;
}
.post-wrapper .post-content {
margin : 25px;
}
.post-content img {
max-width : 100%;
height : auto;
}
.post-wrapper .post-meta-top {
margin : 0 25px;
padding : 5px 0 15px 0;
}
.post-wrapper .post-comments {
border-top : 1px solid #eee;
padding-top : 20px;
}
.post-wrapper .post-comments-wrapper {
margin : 0 25px;
}
.posttitle, p {
overflow-wrap : break-word;
hyphens : auto;
}
#navigation {
clear : both;
}
#navigation .pager a, .post-wrapper .pager a {
border-radius : 5px;
}
#navigation .pager a:hover, .post-wrapper .pager a:hover {
background-color : #45b0e3;
color : #fff;
}
#scroll-top {
bottom : 0;
position : fixed;
right : 15px;
z-index : 999;
}
#scroll-top a:hover {
color : #444;
text-decoration : none;
}
#footernav {
bottom : 0;
position : fixed;
left : 15px;
z-index : 999;
}
#footernav a:hover {
color : #444;
text-decoration : none;
}
.post-comments .commentlist {
list-style-type : none;
margin : 0;
padding : 0;
}
.post-comments .commentlist li {
list-style : none;
padding-bottom : 1em;
}
.post-comments .commentlist ul.children li {
margin : 1em 0 0 0;
padding : 0;
}
.post-comments .comment-avatar {
float : left;
padding : 3px 10px 0 0;
}
.post-comments .comment-content {
color : #333;
padding-bottom : 5px;
}
.post-comments .comment-content-with-avatar {
margin-left : 61px;
}
.post-comments span.bypostauthor, .post-comments span.bypostauthor a.url {
background-color : #aaa;
color : #fff;
padding : 0 3px;
border-radius : 3px;
}
.post-comments span.bypostauthor a.url:hover {
background-color : #45b0e3;
text-decoration : none;
}
.post-comments #reply-title {
color : #666;
font-size : 18px;
}
.post-comments blockquote p {
font-size : 1em;
}
#commentform .commentform-input {
color : #666;
margin-right : 14px;
width : 31%;
}
#commentform .commentform-input:nth-child(3) {
margin-right : 0;
}
#commentform .commentform-field {
width : 94%;
}
#commentform textarea {
width : 98%;
}
.sidebar {
max-width : 480px;
min-width : 200px;
padding-top : 0;
}
.sidebar > ul {
border-top : 1px solid #e5e5e5;
border-bottom : 1px solid #fafafa;
margin : 0;
}
.sidebar ul > li {
border-top : 1px solid #fafafa;
border-bottom : 1px solid #e5e5e5;
list-style : none;
margin : 0 0 0 -40px;
padding : 5px 0;
}
.sidebar ul > li ul {
border : none;
}
.sidebar ul > li ul li {
border : none;
}
.widget {
background : #fff;
border : #e5e5e5 solid 1px;
padding : 10px;
margin-bottom : 10px;
}
.widget-title {
border-bottom-color : #CCCCCC;
border-bottom-style : solid;
border-bottom-width : 2px;
color : #222222;
font-size : 16px;
font-weight : bold;
margin-bottom : 1em;
margin-top : 0;
padding-bottom : 0.5em;
padding-left : 1em;
padding-right : 1em;
padding-top : 0;
}
.widget-title a {
color : #222222;
font-size : 16px;
font-weight : bold;
}
#footer {
color : #7f7f7f;
margin-bottom : 20px;
}
#footer a {
color : #a5a5a5;
}
img.aligncenter {
clear : both;
display : block;
margin-left : auto;
margin-right : auto;
}
img.alignright {
display : inline;
float : right;
margin-left : 24px;
margin-top : 4px;
}
img.alignleft {
display : inline;
float : left;
margin-right : 24px;
margin-top : 4px;
}
.gallery-caption {
color : #888;
}
.alignright {
float : right;
}
.alignleft {
float : left;
}
.text-align-center {
text-align : center;
}
embed, iframe, object, video {
max-width : 100%;
}
#logo_large {
float : left;
}
.carousel-inner > .item {
height : 500px;
overflow : hidden;
}
.carousel-inner > .item > img {
width : 100%;
}
@media (min-width:1200px) {
#commentform .commentform-input {
margin-right : 10px;
width : 32%;
}
.carousel-inner > .item {
height : 500px;
overflow : hidden;
}
.carousel-inner > .item > img {
width : 100%;
}
}
@media (max-width:979px) {
.carousel-inner > .item {
height : 300px;
overflow : hidden;
}
#commentform .commentform-input {
margin-right : 14px;
width : 100%;
}
#commentform .commentform-field {
width : 98%;
}
#double-left-column {
padding-bottom : 20px;
}
#scroll-top {
right : 5px;
}
#scroll-top a {
padding : 5px 10px;
}
.site-header {
display : none;
}
}
@media (max-width:480px) {
.post-wrapper .post-meta-top .pull-right {
display : none;
}
}
.pricing-table .plan {
border-radius : 5px;
text-align : center;
background-color : #f3f3f3;
box-shadow : 0 0 6px 2px #b0b2ab;
}
.plan:hover {
background-color : #fff;
box-shadow : 0 0 12px 3px #b0b2ab;
}
.plan {
padding : 20px;
background-color : #5e5f59;
border-radius : 5px 5px 0 0;
}
.plan-name-bronze {
padding : 20px;
color : #fff;
background-color : #665D1E;
border-radius : 5px 5px 0 0;
}
.plan-name-silver {
padding : 20px;
color : #fff;
background-color : #C0C0C0;
border-radius : 5px 5px 0 0;
}
.plan-name-gold {
padding : 20px;
color : #fff;
background-color : #FFD700;
border-radius : 5px 5px 0 0;
}
.pricing-table-bronze {
padding : 20px;
color : #fff;
background-color : #f89406;
border-radius : 5px 5px 0 0;
}
.pricing-table .plan .plan-name span {
font-size : 20px;
}
.pricing-table .plan ul {
list-style : none;
margin : 0;
border-radius : 0 0 5px 5px;
}
.pricing-table .plan ul li.plan-feature {
padding : 15px 10px;
border-top : 1px solid #c5c8c0;
}
.pricing-three-column {
margin : 0 auto;
width : 80%;
}
.plan-mouseover .plan-name {
background-color : #4e9a06 !important ;
}
.btn-plan-select {
padding : 8px 25px;
font-size : 18px;
}
#leader-ad {
float : right;
}
.attachment-large {
display : block;
margin-left : auto;
margin-right : auto;
}
.home-jumbotron {
text-align : center;
margin : 0;
padding : 0;
text-decoration : none;
}
.home-link {
text-decoration : none;
}
.site-title {
font-size : 72px;
font-family : Lobster;
text-decoration : none;
}
.site-description {
color : #222222;
font-family : Lobster;
line-height : 1.4;
font-size : 28px;
text-decoration : none;
}
.video-container {
position : relative;
padding-bottom : 56.25%;
padding-top : 30px;
height : 0;
overflow : hidden;
}
.video-container iframe, .video-container object, .video-container embed {
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
}
.panel-body {
margin : -10px;
}
.site-header {
height : 150px;
margin-top : -20px;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
color : #999999;
}
.pull-right > .dropdown-menu {
right : 0;
left : auto;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
border-top : 0;
border-bottom : 4px solid #000000;
content : "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
top : auto;
bottom : 100%;
margin-bottom : 1px;
}
.dropdown-submenu {
position : relative;
}
.dropdown-submenu > .dropdown-menu {
top : 0;
left : 100%;
margin-top : -6px;
margin-left : -1px;
border-radius : 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
display : block;
}
.dropup .dropdown-submenu > .dropdown-menu {
top : auto;
bottom : 0;
margin-top : 0;
margin-bottom : -2px;
border-radius : 5px 5px 5px 0;
}
.dropdown-submenu > a:after {
display : block;
content : " ";
float : right;
width : 0;
height : 0;
border-color : transparent;
border-style : solid;
border-width : 5px 0 5px 5px;
border-left-color : #cccccc;
margin-top : 5px;
margin-right : -10px;
}
.dropdown-submenu:hover > a:after {
border-left-color : #ffffff;
}
.dropdown-submenu.pull-left {
float : none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
left : -100%;
margin-left : 10px;
border-radius : 6px 0 6px 6px;
}
.dropdown-menu .sub-menu {
position : absolute;
visibility : hidden;
}
.dropdown-menu li:hover .sub-menu {
visibility : visible;
}
.dropdown:hover .dropdown-menu {
display : block;
}
